// Variables
$base-font-family: Verdana, Helvetica, Arial, sans-serif;

$primary-color: #3381FF;
// $secondary-color: #FA3703;
// $tertiary-color: #FFCA24;

$ui-blue: #3381FF;
$ui-red: #E60000;
$ui-green: #5CB85C;
$disabled: #EBEBEB;