// Variables
$base-font-family: Verdana, Helvetica, Arial, sans-serif;

$main-color: rgb(0, 188, 212);
// $secondary-color: #FA3703;
// $tertiary-color: #FFCA24;

$ui-blue: #3381FF;
$ui-red: #E60000;
$ui-green: #5CB85C;
$disabled: #EBEBEB;
$shadow: rgba(0, 0, 0, 0.12);