* {
	font-family: $base-font-family;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

#main_container, #main_layout {
	overflow: hidden;
	height: 100%;
	width: 100%;
	// position: fixed;
}

#main_layout {
	// background-color: #FFFFFF;
}